services:
  apigateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: apigateway
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - PATIENTS_URL=http://host.docker.internal:8080
      - APPOINTMENTS_URL=http://host.docker.internal:9004
      - PRODUCTION_URL=http://host.docker.internal:8000
      - KEYCLOAK_AUTHORITY=http://154.38.180.80:8080/realms/group3realm
      - KEYCLOAK_AUDIENCE=account
      - KEYCLOAK_REQUIRE_HTTPS_METADATA=false
    networks:
      - microservices-network
    restart: unless-stopped

networks:
  microservices-network:
    driver: bridge
